---
title: All Posts
layout: layouts/home.njk
tags:
  - archive
  - nav
navtitle: Blog
permalink: /posts/
---

<h1><i class="fas fa-terminal" aria-hidden="true"></i> Archive</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
