---
layout: layouts/home.njk
tags:
  - home 
---

<h1> <i class="fas fa-terminal"></i> {{ metadata.author.name }} </h1>

<h2 class="terminal">Hello, World!</h2><br>
<p> I'm a developer with five years of experience building and maintaining enterprise scale applications in various stages of their lifecycles. I'm always looking for things to learn and ways to improve myself and my code.</p>

<h1>Latest 3 Posts</h1>

{% set postslist = collections.posts | head(-3) %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
