---
layout: layouts/home.njk
tags:
  - home 
---

<h1> <i class="fas fa-terminal" aria-hidden="true"></i> {{ metadata.author.name }} </h1>

<h2 class="terminal"> <i class="fas fa-terminal" aria-hidden="true"></i>Hello, World!</h2>
<p>I've been a developer since 2014, building and maintaining enterprise scale applications in various stages of their lifecycles. I'm always looking for things to learn and ways to improve myself and my code.</p>
<p>I have been married to my wonderful wife for ten years and we have four wonderful kids that keep me busy as they can. I love having the time to spend with them every day and watching them grow and discover daily.</p>

<h1>Featured Publications</h1>
<ul>
  <li><h2><a href="https://www.gitkraken.com/blog/nail-your-first-development-interview">How to Nail Your First Full Time Job Interview</a> (GitKraken Blog)</h2>
  <li><h2><a href="https://www.youtube.com/watch?v=RkCjN2zFcqs&t=6887s">A Rising Tide Lifts All Boats</a> (GitKon Talk)</h2>
</ul>

<h1>Latest 3 Posts</h1>

{% set postslist = collections.posts | head(-3) %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
