---
layout: layouts/base.njk  
templateClass: tmpl-resume  
---
<link rel="stylesheet" href="{{ '/css/resume.css' | url }}">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Bitter">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat">
<div id="resume">
  <div id='title'>
    <h1>
      {{ name }}
    </h1>        
  </div>
  {{ content | safe }}
</div>
